includes:
  - %rootDir%/../../juliangut/phpstan-config/phpstan.neon

parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - ecs.php
    - src
  scanDirectories:
    - vendor/squizlabs/php_codesniffer/src
  typeAliases:
    ECSRuleClass: 'class-string<\PHP_CodeSniffer\Sniffs\Sniff|\PhpCsFixer\Fixer\FixerInterface>'
    PhpCsFixerRuleList: 'array<class-string<\PhpCsFixer\Fixer\FixerInterface>, array<string, mixed>|bool>'
    PhpCodeSnifferRuleList: 'array<class-string<\PHP_CodeSniffer\Sniffs\Sniff>, array<string, mixed>|bool>'
  ignoreErrors:
    - message: '#^Call to static method (getRootPackage|getPrettyVersion)\(\) on an unknown class Composer\\InstalledVersions\.#'
      path: src/AbstractConfigSet.php
