includes:
  - phpstan.neon.dist

parameters:
  ignoreErrors:
    - message: '#^Call to deprecated method reportSniffClassWarnings\(\) of class Symplify\\EasyCodingStandard\\Config\\ECSConfig\.$#'
      path: src/AbstractConfigSet.php
