includes:
  - %rootDir%/../../juliangut/phpstan-config/phpstan.neon

parameters:
  level: max
  parallel:
    maximumNumberOfProcesses: 7
  paths:
    - ecs.php
    - src
  scanDirectories:
    - vendor/squizlabs/php_codesniffer/src
  ignoreErrors:
    - message: '/^Call to static method (getRootPackage|getPrettyVersion)\(\) on an unknown class Composer\\InstalledVersions\./'
      path: src/AbstractConfigSet.php
